@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
}
.main-wrapper{
	overflow-x: hidden !important;
}
.container{
	max-width: 1300px !important;
}







/* Header Open */

header nav{
	background: #fff !important;
	padding: 40px 0 !important;
}
nav .nav-item{
	margin-right: 25px !important;
}
nav .nav-item .nav-link{
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: capitalize;
	color: #262626 !important;
	transition: 0.5s !important;
}
nav .nav-item .nav-link:hover{
	color: #5AB612 !important;
}
nav .nav-item .nav-link::before{
	content: '';
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	border-radius: 50px;
	border: 1px solid #515151;
	transition: 0.5s !important;
}
nav .nav-item .nav-link:hover::before{
	border-color: #4EAF4E;
	background-color: #4EAF4E;
}
.navbar-button a{
	background-color: #F3F3F3;
	border-radius: 50px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #353535 !important;
	text-decoration: none !important;
	padding: 8px 30px;
}
.navbar-button a img{
	margin-right: 5px;
}

/* Header Close */

/* Heroarea Open */

.heroarea{
	background-image: url(images/banner.png);
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.heroarea_inner h6{
	color: #181818;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	background-color: #FFCC4A;
	display: inline-block;
	padding: 0 11px 3px 11px;
	border-radius: 20px;
}
.heroarea_inner h1{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
	font-weight: 700;
	max-width: 500px;
}
.heroarea_inner p{
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	max-width: 450px;
	font-weight: 400;
}
.heroarea_inner a{
	color: #353535 !important;
	text-decoration: none !important;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	padding: 8px 25px;
	border-radius: 50px;
	background-color: #fff;
	margin-top: 10px;
	display: inline-block;
}
.heroarea_inner a img{
	margin-right: 5px;
}

/* Heroarea Close */

/* Services Open */

.services_sec{
	margin-top: -130px;
}
.services_1{
	padding: 48px;
	display: flex;
	align-items: end;
	height: 470px;
	border-radius: 20px;
	background-image: url(images/01.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.services_2{
	padding: 48px;
	display: flex;
	align-items: end;
	height: 470px;
	border-radius: 20px;
	background-image: url(images/02.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.services_3{
	padding: 48px;
	display: flex;
	align-items: end;
	height: 470px;
	border-radius: 20px;
	background-image: url(images/03.png);
	background-size: cover;
	background-color: #1B1B1B;
	background-repeat: no-repeat;
}
.services_content h5{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.services_content p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.services_content a{
	font-family: 'Lato', sans-serif;
	padding: 16px 31px;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	color: #353535;
	background-color: #fff;
	margin-top: 10px;
	display: inline-block;
	border-radius: 50px;
	transition: 0.5s;
	text-decoration: none !important;
}
.services_content a:hover{
	background-color: #353535;
	color: #fff;
}
.services_3 .services_content h5{
	color: #fff;
}
.services_3 .services_content p{
	color: #fff;
}

/* Services Close */

/* About Sec Open */

.about_sec{
	margin: 130px 0;
}
.about_left_inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
}
.about_left_inner h5{
	color: #181818;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;	
	padding: 0 11px 3px 11px;
	background-color: #FFCC4A;
	border-radius: 20px;
	display: inline-block;
}
.about_left_inner h2{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
}
.about_left_inner h4{
	color: #4EAF4E;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	max-width: 400px;
	font-weight: 700;
	margin-top: 10px;
}
.about_left_inner p{
	color: #595566;
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	max-width: 400px;
	font-size: 16px;
	font-weight: 400;
}
.about_social a{
	display: block;
	color: #181818 !important;
	text-decoration: none !important;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-top: 30px;
}
.about_social a img{
	margin-right: 5px;
}

/* About Sec Close */

/* Services Slider Open */

.services_slider_sec{
	background-color: #F5F5F5;
	padding: 140px 0;
}
.services_slider_content h5{
	color: #FFF;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	padding: 0 11px 3px 11px;
	background-color: #4EAF4E;
	border-radius: 20px;
	display: inline-block;
}
.services_slider_content h2{
	color: #181818;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
	max-width: 750px;
	margin: 0 auto;
}
.services_item{
	padding: 23px 22px 38px 22px;
	background-color: #EBEBEB;
	border-radius: 20px;
}
.services_img{
	width: 100% !important;
	height: 280px !important;
}
.services_img img{
	width: 100% !important;
	height: 280px !important;
}
.services_item_content{
	padding-top: 30px;
}
.services_item_content h5{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
	text-transform: capitalize;
}
.services_item_content p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.services_item_content a{
	color: #353535;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
	background-color: #fff;
	border-radius: 50px;
	padding: 11px 35px;
	text-decoration: none !important;
	margin-top: 10px;
	display: inline-block;
	transition: 0.5s;
}
.services_item_content a:hover{
	background-color: #181818;
	color: #fff;
}
.services_slider_box{
	margin-top: 50px;
}
.services_slider_box .item{
	height: 565px;
}
.services_slider_box .owl-nav{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: flex !important;
	justify-content: space-between !important;
}
.services_slider_box .owl-nav .owl-prev img{
	position: relative !important;
	z-index: 999 !important;
}
.services_slider_box .owl-nav .owl-prev{
	position: relative;
	left: -90px;
	top: -80px;
	width: 180px;
	height: 180px;
	backdrop-filter: blur(10px);
	border-radius: 50% !important;
	box-shadow: 4px 0px 18px rgba(0,0,0,0.27);
	outline: none !important;
}
.services_slider_box .owl-nav .owl-prev:hover{
	backdrop-filter: blur(10px) !important;
	background-color: transparent !important;
}
.services_slider_box .owl-nav .owl-prev img{
	position: relative !important;
	z-index: 999 !important;
}
.services_slider_box .owl-nav .owl-next{
	position: relative;
	right: -90px;
	top: -80px;
	width: 180px;
	height: 180px;
	backdrop-filter: blur(10px);
	border-radius: 50% !important;
	box-shadow: 4px 0px 18px rgba(0,0,0,0.27);
	outline: none !important;
}
.services_slider_box .owl-nav .owl-next:hover{
	backdrop-filter: blur(10px) !important;
	background-color: transparent !important;
}
.services_slider_box .owl-nav .owl-next img{
	position: relative !important;
	z-index: 999 !important;
	rotate: 180deg;
}
.services_slider_box .owl-dots{
	display: none;
}
.services_slider_box .owl-stage-outer{
	overflow: visible !important;
}

/* Services Slider Close */

/* Gallery Sec Open */

.gallery_sec{
	background-image: url(images/14.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 150px 0;
}
.gallery_left_col h5{
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	padding: 0 11px 3px 11px;
	background-color: #4EAF4E;
	border-radius: 20px;
	display: inline-block;
}
.gallery_left_col h2{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
}
.gallery_right_col a{
	text-decoration: none !important;
	background-color: #FFCC4A;
	padding: 16px 38px;
	border-radius: 50px;
	color: #181818 !important;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}
.gallery_1{
	position: relative;
	background-image: url(images/15.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_1:hover .gallery_1_content{
	top: 0%;
}
.gallery_1_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_1_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_1_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_1_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_2{
	position: relative;
	background-image: url(images/16.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_2:hover .gallery_2_content{
	top: 0%;
}
.gallery_2_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_2_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_2_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_2_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_3{
	position: relative;
	background-image: url(images/17.png);
	height: 735px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_3:hover .gallery_3_content{
	top: 0%;
}
.gallery_3_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_3_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_3_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_3_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_4{
	position: relative;
	background-image: url(images/18.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_4:hover .gallery_4_content{
	top: 0%;
}
.gallery_4_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_4_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_4_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_4_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_5{
	position: relative;
	background-image: url(images/19.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_5:hover .gallery_5_content{
	top: 0%;
}
.gallery_5_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_5_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_5_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_5_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_6{
	position: relative;
	background-image: url(images/20.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_6:hover .gallery_6_content{
	top: 0%;
}
.gallery_6_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_6_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_6_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_6_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.gallery_7{
	position: relative;
	background-image: url(images/21.png);
	height: 345px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 20px;
	overflow: hidden;
	padding: 35px;
	cursor: pointer;
}
.gallery_7:hover .gallery_7_content{
	top: 0%;
}
.gallery_7_content{
	position: relative;
	top: 200%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-direction: column;
	background: rgba(24, 24, 24, 0.75);
	backdrop-filter: blur(4px);
	padding: 27px;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
.gallery_7_content img{
	position: absolute;
	top: 27px;
	right: 27px;
}
.gallery_7_content h5{
	color: #FFF;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 600;
}
.gallery_7_content h6{
	color: #FFCC4A;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* Gallery Sec Close */

/* Resume Sec Open */

.resume_sec{
	background-color: #F5F5F5;
	padding: 145px 0;
}
.resume_heading h5{
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	background-color: #4EAF4E;
	padding: 0 11px 3px 11px;
	border-radius: 20px;
	display: inline-block;
}
.resume_heading h2{
	color: #181818;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
}
.resume_left_col h5{
	color: #181818;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	border-radius: 20px;
	padding: 0 11px 3px 11px;
	background-color: #4EAF4E;
	display: inline-block;
}
.resume_left_inner_right h6{
	color: #8A8A8A;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
.resume_left_inner_right h4{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	font-weight: 500;
}
.resume_left_inner_right p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	max-width: 450px;
	font-weight: 400;
}
.resume_left_col_inner_row{
	display: flex;
	column-gap: 29px;
	align-items: center;
}
.resume_right_col{
	text-align: right;
}
.resume_right_col h5.right_col{
	color: #181818;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	border-radius: 20px;
	padding: 0 11px 3px 11px;
	background-color: #FFCC4A;
	display: inline-block;
	text-align: right;
}
.resume_right_inner_left h6{
	color: #8A8A8A;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: right;
}
.resume_right_inner_left h4{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
	text-align: right;
	font-weight: 500;
}
.resume_right_inner_left p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	max-width: 450px;
	text-align: right;
	font-weight: 400;
}
.resume_right_col_inner_row{
	display: flex;
	column-gap: 29px;
	align-items: center;
	justify-content: flex-end;
}

/* Resume Sec Close */

/* Counter Sec Open */

.counter_1{
	display: flex;
	align-items: center;
}
.counter_left{
	width: 25%;
}
.counter_right{
	position: relative;
	width: 75%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.counter_right .counter{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
}
.counter_right h6{
	text-align: center;
	color: #595566;
	font-family: 'Cabin', sans-serif;
	font-size: 18px;
	margin-top: -10px;
	font-weight: 400;
}
.counter_sec{
	padding-top: 120px;
	padding-bottom: 45px;
}
.counter_plus{
	position: absolute;
	left: 28%;
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-align: center;

}

/* Counter Sec Close */

/* Client Slider Open */

.client_slider_sec{
	padding-top: 40px;
}
.client_slider_box .item{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 43px 29px;
	transform: scale(0.8);
}
.client_top_row{
	display: flex;
	column-gap: 15px;
	align-items: center;
}
.client_top_right_col h5{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
	font-weight: 600;
}
.client_top_right_col h6{
	color: #FFF;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	border-radius: 20px;
	background: #4EAF4E;
	padding: 0 11px 3px 11px;
	font-weight: 400;
}
.client_top_left_col img{
	width: 81px;
	height: 81px;
}
.client_bottom_row_inner{
	position: relative;
	padding: 40px 30px 28px 30px;
	background-color: #FDFDFD;
	border-radius: 20px;
}
.client_bottom_row_inner p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.client_bottom_row{
	margin-top: 30px;
}
.owld-theme{
	display: flex;
	column-gap: 42px;
}
.client_quote_img{
	position: absolute;
	top: -20px;
	right: 40px;
	width: 46px !important;
	height: 46px;
}
.client_slider_box .owl-item.active.center .item{
	transition: 0.7s all !important;
	transform: scale(1);
}
.client_slider_box .owl-nav{
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px !important;
}
.client_slider_box .owl-dots{
	display: none;
}
.client_slider_box .owl-nav .owl-prev{
	position: relative;
	width: 43px;
	border-radius: 50% !important;
	height: 43px;
	background-color: #181818 !important;
	transition: 0.5s;
	outline: none !important;
}
.client_slider_box .owl-nav .owl-prev::after{
	content: 'Prev';
	position: absolute;
	top: -8px;
	left: -8px;
	background-color: #F3F3F3;
	width: 110px !important;
	height: 59px !important;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 8px 15px 8px 8px;
	border-radius: 50px;
	z-index: -1;
	color: #353535;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.client_slider_box .owl-nav .owl-prev i{
	color: #fff !important;
	transition: 0.5s;
}
.client_slider_box .owl-nav .owl-prev:hover{
	background-color: #FFC32B !important;
}
.client_slider_box .owl-nav .owl-prev:hover i{
	color: #141414 !important;
}
.client_slider_box .owl-nav .owl-next{
	position: relative;
	width: 43px;
	border-radius: 50% !important;
	height: 43px;
	background-color: #181818 !important;
	transition: 0.5s;
	outline: none !important;
}
.client_slider_box .owl-nav .owl-next::after{
	content: 'Next';
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: #F3F3F3;
	width: 110px !important;
	height: 59px !important;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 8px 8px 15px;
	border-radius: 50px;
	z-index: -1;
	color: #353535;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.client_slider_box .owl-nav .owl-next i{
	color: #fff !important;
	transition: 0.5s;
}
.client_slider_box .owl-nav .owl-next:hover{
	background-color: #FFC32B !important;
}
.client_slider_box .owl-nav .owl-next:hover i{
	color: #141414 !important;
}

/* Client Slider Close */

/* Team Sec Open */

.team_sec{
	background-image: url(images/31.png);
	height: 70vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	padding-bottom: 80px;
	margin-top: 100px;
}
.team_text_box h6{
	color: #FFF;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #4EAF4E;
	padding: 0 11px 3px 11px;
	text-align: center;
	display: inline-block;
}
.team_text_box h2{
	color: #FFF;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
}
.team_text_box a{
	border-radius: 42px;
	background: #FFCC4A;
	padding: 16px 34px;
	color: #181818 !important;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none !important;
	margin-top: 22px;
	display: inline-block;
}

/* Team Sec Close */

/* Brands Sec Open */

.brands_sec{
	background-color: #181818;
	padding: 95px 50px;
}
.brands_row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 100px;
}
.brands_row .brands_col img{
	width: 100% !important;
}

/* Brands Sec Close */




.pricing_sec{
	background-color: #F5F5F5;
	padding: 120px 0;
}
.pricing_left_col h6{
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2.32px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #4EAF4E;
	padding: 0 11px 3px;
	display: inline-block;
}
.pricing_left_col h2{
	color: #181818;
	font-family: 'Cabin', sans-serif;
	font-size: 45px;
	font-weight: 700;
}
.pricing_left_col p{
	color: #595566;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 15px;
}






/* Media Query Open */

@media screen and (max-width:  1024px){
	.services_1,
	.services_2,
	.services_3{
		padding: 30px;
		height: 400px;
	}
	.heroarea{
		height: 50vh;
		background-position: center center;
	}
}
@media screen and (max-width: 991px){
	.about_left_inner{
		align-items: center;
		text-align: center;
	}
	.about_right_col img{
		margin:  0 auto;
	}
	.about_sec{
		margin: 0 0;
	}
}

@media screen and (max-width:  767px){
	.services_sec{
		margin-top: 100px;
	}
	.services_2,
	.services_3{
		margin-top: 20px;
	}
	.heroarea_inner{
		text-align: center;
	}
	.heroarea_inner h1,
	.heroarea_inner p{
		margin: 0 auto;
	}
	.services_slider_box .item{
		height: 600px;
	}
	.services_slider_box .services_item{
		height: 100%;
	}
	.services_slider_box .services_img{
		height: 330px !important;
	}
	.services_slider_box .services_img img{
		height: 330px !important;
	}
	#gallery-2,
	#gallery-4,
	#gallery-5{
		margin-top: 40px;
	}
	#gallery-1 .gallery_1,
	#gallery-2 .gallery_2,
	#gallery-3 .gallery_3,
	#gallery-4 .gallery_4,
	#gallery-5 .gallery_5,
	#gallery-6 .gallery_6,
	#gallery-7 .gallery_7{
		height: 500px !important;
	}
}
@media screen and (max-width:  575px){
	.heroarea_inner h1{
		max-width: 300px;
		font-size: 28px;
	}
	.services_1,
	.services_2,
	.services_3{
		padding: 20px;
	}
	.about_left_inner h2{
		margin: 0 auto;
		max-width: 300px;
		font-size: 28px;
	}
	.about_social a{
		margin-top: 15px;
	}
	.about_left_col{
		height: 480px !important;
	}
	.about_sec{
		margin: 20px 0;
	}
	.services_slider_content h2{
		max-width: 430px;
		font-size: 28px;
		margin-top: 15px;
	}
}





/* Bootstrap Class Edit */

@media screen and (max-width:  1024px){
	.container{
		max-width: 960px !important;
	}
}
@media screen and (max-width:  767px){
	.container{
		max-width: 100% !important;
	}
}






